*, html {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.body{
    background-image: url("/static/images/cover2.jpg");
    background-position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.row{
    height: 100vh;
    --bs-gutter-x: 0rem;
    max-width: 100vw;
}

.page-title{
    
    transform: rotateZ(270deg) rotateX(360deg);    
    margin: 130% 0 0 0 ;
}

.left-sec{
    background-color: aliceblue;
    animation: lefts 1s linear;
    position: absolute;
    width: 6%;
    height:inherit;
}

.right-sec{
    position: fixed;
    margin: auto;
    background-color: #171e22;
    animation: rights 2s linear 1s; 
    width: 25%;
    height:inherit;
    right: 0;
    top: 0;
}

.login-btn:nth-child(1){
    text-decoration: none;    
    color: #171e22;
    background-color: aliceblue;
    padding: 4px 10px;
    margin: 5% 5%;
    position: absolute;

}

.login-btn:nth-child(2){
    text-decoration: none;    
    color: #171e22;
    background-color: aliceblue;
    padding: 4px 10px;
    margin: 5% 30%;
    position: absolute;
}

.middle-sec-t{
    top: 3%;
    color: aliceblue;
    overflow: hidden;
    left: 16%;
    position: absolute;
    white-space:nowrap;
    animation:middlet 5s forwards;   
}

.middle-sec-t:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: aliceblue;
    left: 15%;
    top: 50%;
    position: absolute;
    
}

.header{
    position: absolute;
    top: 30%;
    color: aliceblue;
    left: 15%;
    font-size: 3rem;
    font-weight: 600;
    background-color: #171e22;
    padding: 2%;
    animation:header 3s;   
}
    
@keyframes lefts{
    from{transform: translateX(-100px); transform-origin: right;}
    to{transform: translateX(0px)}
}

@keyframes rights{
    from{right: -25%;}
    to{right: 0;}   
}

@keyframes middlet{
    0%{width: 0%;}
    100%{width: 70%;}   
}

@keyframes header{
    0%{height: 0%;}
    100%{height: 27%;}   
}

