{% extends 'sellbasic.html' %}
{% load static %}

{% block title %}MetalEdge{% endblock %}

{% block body %}

    
	<div class="contain">
		    <div class="forms">
                    <h1 class=" mb-4" id="form-title">Add your Product</h1>
					<form method="POST" action="" enctype="multipart/form-data">
                        {%csrf_token%}
                        <label>Upload an image:</label>
                        <div class="form-control mb-3">
						{{form.image}}
						</div>
                        <label>Select type:</label>
						<div class="mb-3">
						{{form.type}}
						</div>
                        <label>Product Name:</label>
						<div class=" mb-3">
							{{form.name}}
						</div>
                        <label> Description:</label>
						<div class=" mb-3">
							{{form.description}}
						</div>
                        <label>Price:</label>
                        <div class=" mb-2">
							{{form.price}}
						</div>
				   		<div class="mt-3 mb-5 text-right" >
				 			<input class="btn add_btn" type="submit" value="Add">
				   		</div>
					</form>
				</div>
</div>

{% endblock %}
