<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>MetalEdge</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{%static 'css/cover.css' %}">
  
</head>

<body>

    <!-- Navbar -->
    
    
    <div class="body">
        <div class="left-sec">
            <h4 class="page-title">MetalEdge</h4>
        </div>
        <div>
            <h4 class="middle-sec-t"> Start now</h4>
            <h1 class="header">Growth is never<br> by mere chance</h1>
        </div>
        <div class="right-sec">
            <a class="login-btn" href="/account/buy_login">Buyer</a>
            <a class="login-btn " href="/account/sell_login">Seller</a>
            <h5 class="quote">
                Welcome to MetalEdge!<br><br>
                An easy and efficient website for trading all types of metal good products.
            </h5>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>

</html>
